/* dark green - #115E55 
mid green - #15A798
soft light green - #DEF9F6 
grayish green #8BA9A6 */

nav {
    background-color: #DEF9F6;
}

.navbar-brand{
    background-color: #15A798;
    color: #DEF9F6;
}

.navbar-brand:hover {
    color: #F9F8DE;
}

.navbar-nav a {
    color: #115E55;
}

.navbar-nav a:hover {
    color: #5E4011;
}