/* dark green - #115E55 
mid green - #15A798
soft light green - #DEF9F6 
grayish green #8BA9A6 */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #15A798;
}

a:hover {
    color: #8BA9A6;
    text-decoration: none;
}

.welcome {
    background-color: #DEF9F6;
    color: #115E55;
}

.square-holder {
   background-color: #DEF9F6;
}

h3 {
    font-weight: bold;
    color: #1D4A45;
    border-bottom: 2px solid lightgray; 
}

.welcome-pic {
    width: 150px;
}

.portfolio-pic {
    position: relative;
}

.portfolio-text {
    background-color: #15A798;
    color: #DEF9F6;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.contact-box {
    background-color: #DEF9F6;

}
footer {
    background-color: #8BA9A6;
    color: #DEF9F6;
}